---
import { Image } from 'astro:assets';

const { src, caption="", withCaption=true, enlarge=true, ...attrs } = Astro.props;

const imgID = `img-${Math.random().toString(36).substring(2, 11)}`;
---
<div class="container">
  <Image id={imgID} src={src} data-enlarge={enlarge} {...attrs} class="normal-img"/>
  {caption!=""&&withCaption?<p>{caption}{withCaption}</p>:null}
</div>

<style>
  .container {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    padding: 0 auto;
    margin: 1em auto 0;
    cursor: zoom-in;
  }

  img.expanded-img{
    cursor: zoom-out;
  }

  .container:has(>img.expanded-img){
    position: relative;
    width: 85%;
  }

  p {
    display: block;
    text-align: center;
    width: 90%;
    padding: 0 auto;
    margin: 0 auto;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    .container:has(>img.expanded-img){
      width: 90%;
    }
  }
</style>

<script define:vars={{imgID}}>
  const image = document.getElementById(imgID);
    if (image.dataset.enlarge==='true'){
    image.addEventListener("click",function(e){
      if (this.className==="normal-img"){
        this.setAttribute("class","expanded-img")
      }
      else{
        this.setAttribute("class","normal-img")
      }
    });}
</script>