---
import background_name from '../assets/background_name.svg';
import fb_logo from '../assets/fb_logo.png';
import gh_logo from '../assets/gh_logo.svg';
import ln_logo from '../assets/ln_logo.png';
import vctr_pic from '../assets/pic_alt.svg'
---
<div id="container">
    <section id="picture">
        <img src={vctr_pic.src} alt=""/>
    </section>

    <section id="details">
        <h1>
            Ronilo del Rosario
        </h1>
        <h2>
            Analyst | GIS | DRR
        </h2>
        <a href="https://www.facebook.com/IamRNL/">
            <img src={fb_logo.src} width=32 height=32 alt=""/>
        </a>
        <a href="https://github.com/ronilojdelrosario/">
            <img src={gh_logo.src} width=32 height=32 alt=""/>
        </a>
        <a href="https://www.linkedin.com/in/ronilo-del-rosario/">
            <img src={ln_logo.src} width=32 height=32 alt=""/>
        </a>
    </section>
</div>

<style define:vars={{background_src:`url(${background_name.src})`}}>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        background-image: var(--background_src);
        background-size: cover;
        background-clip: content-box;
        background-position: center center;
        position: relative;
        box-sizing: border-box;
        top: 2%;
		height: 96%;
        width: 100%;
        margin: 0 auto;
	}

    #picture {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        box-sizing: border-box;
        right: 20%;
        width: 20%;
        height: 100%;;
        padding: 0;
    }

    #picture img {
        display: block;
        position: absolute;
        box-sizing: border-box;
        background-color: rgb(39,37,47);
        box-shadow: 0px 0px 4px 3px rgba(120, 120, 120, 0.3);
        border-color: rgb(255,255,255);
        border-style: solid;
        border-width: 2px;
        right: 0;
        border-radius: 30%;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

	#details {
		position: absolute;
        top: 38%;
        right: 42%;
        text-align: right;
		padding: 16px;
        z-index: 1;
        color: rgb(255,255,255);
        text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
	}

	#details h1 {
		font-size: 64px;
        padding: 0;
        margin: 0 0 0rem;
	}

    #details h2 {
        font-size: 32px;
        padding: 0;
        margin: 0 0 1rem;
    }

    #details a{
        padding-left: 1rem;
        margin: 0;
        text-decoration: none;
    }

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

        #picture{
            position: relative;
            top: 20vh;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
            right: auto;
            margin: 0;
        }

        #picture img{
            box-sizing: border-box;
            width: 70%;
            top: 0;
            aspect-ratio: 1 / 1;
            height: auto;
            align-self: center;
            right:auto;
            margin: auto;
        }

		#details {
			display: block;
            text-align: left;
            top: 60vh;
            right: 0;
            left: 0;
		}

		#details h1 {
            font-size: 36px;
		}

		#details h2 {
            font-size: 24px;
            margin-bottom: 0.5rem;
		}

        #details a{   
            padding-left: 0;
            padding-right: 1rem;
        }
	}
</style>
