---
import { Image } from 'astro:assets';
import PageLayout from '../layouts/PageLayout.astro';
import BottomLinks from '../components/BlogPostBottomLinks.astro';
const {frontmatter} = Astro.props;

const options : Intl.DateTimeFormatOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
const datestr = new Date(frontmatter.pubDate).toLocaleDateString("en-US", options);
---
<meta charset="utf-8" />
<PageLayout pageTitle="Blog">
    <div class="container">
        <div class="banner-container">
            <Image src={frontmatter.cover} alt={frontmatter.coverAlt}/>
        </div>
        <div class="text-container">
            <div class="post-info">
                <h1><b>{frontmatter.title}</b></h1>
                <h2><i>{frontmatter.subtitle}</i></h2>
                <hr>
                <p>Posted on: {datestr}</p>
                <hr>
            </div>
            <div class="content">
                <slot/>
            </div>
            <BottomLinks/>
        </div>
    </div>
</PageLayout>

<style>
    .container {
        display: block;
        position: absolute;
        width: 100%;
        color: white;
		font-family: Montserrat, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    }

    .banner-container{
        display: block;
        position: relative;
        width: 70%;
        aspect-ratio: 22/10;
        margin: 1em auto;
        padding: 0;
        overflow:hidden;
    }

    .text-container{
        display: block;
        position: relative;
        width: 48em;
        margin: 0 auto;
    }


    .post-info {
        padding: 0 0 0.2em;
    }

    h1{
        font-size: 32px;
        margin: 0.5em 0 0.5em;
        text-align: center;
    }

    h2{
        font-size: 24px;
        margin: 0.2em 0 1em;
        text-align: center;
    }

    .post-info p{
        padding: 0;
        margin: 0.5em 0 0;
    }

    .post-info hr{
        padding: 0;
        margin: 0.5em 0 0;
    }

    .content {
        display:block;
        line-height: 1.8;
        font-size: 18px;
        line-height: 200%;
        /*text-align: justify;*/
    }

    .content :global(h2){
        color: #87CEEB;
    }

    .content :global(p){
        margin-bottom: 1em;
    }

    .content::after {
        content: "\a\a\a\a";
        white-space: pre;
    }

    img{
        display:block;
        position: absolute;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0;
        border-radius: 5px;
    }

    @media screen and (max-width: 768px) {
        .container {
            position: relative;
            width: 95%;
            margin: 0 auto;
            padding: 0;
        }

        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 18px;
        }
        .text-container{
            width: 100%;
        }
        .content {
            line-height:150%;
        }
        .banner-container {
            width: 100%;
        }
    }
</style>